.md-button-filled {
  @apply 
  bg-primary 
  px-6 py-[10px] rounded-3xl
	text-on-primary text-center text-sm font-medium leading-5
	hover:opacity-90 
  hover:elevation-1
	select-none
	cursor-pointer
	active:opacity-100 active:elevation-0
	disabled:bg-on-surface/[0.12] 
	disabled:border-on-surface/[0.12] 
	disabled:text-on-surface/[0.38] 
	disabled:pointer-events-none;
}

.md-button-outlined {
  @apply 
  px-6 py-[10px] 
  border-[1px] border-outline 
  rounded-3xl
	text-primary text-sm font-medium
	cursor-pointer
	select-none
	hover:bg-primary/[0.08]
	active:bg-primary/[0.12]
	disabled:border-on-surface/[0.12] 
  disabled:bg-opacity-[0.12] 
  disabled:text-on-surface/[0.38] 
  disabled:pointer-events-none;
}

.md-button {
  @apply 
	px-6 py-[10px] 
	tracking-[0.1px] rounded-3xl
	text-primary text-sm font-medium
	select-none
	hover:cursor-pointer
	hover:bg-primary/[0.08]
	active:bg-primary/[0.12]
	disabled:border-on-surface/[0.12] 
	disabled:bg-opacity-[0.12] 
	disabled:text-on-surface/[0.38] 
	disabled:cursor-not-allowed 
	disabled:pointer-events-none;
}

.md-button-elevated {
  @apply px-6 py-[10px] border-outline rounded-3xl [&:not(:disabled)]:elevation-1
	text-primary text-center text-sm font-medium
	select-none
	cursor-pointer
	disabled:bg-on-surface/[0.12] 
	disabled:border-on-surface/[0.12] 
	disabled:text-on-surface/[0.38] 
	disabled:pointer-events-none 
	hover:bg-primary/[0.08]
	active:bg-primary/[0.12] 
}

.md-button-tonal {
  @apply  
  px-6 py-[10px] border-outline bg-secondary-container rounded-3xl
  text-on-secondary-container text-center text-sm font-medium leading-5
  hover:bg-secondary-container
  active:opacity-70
	select-none
	cursor-pointer
  disabled:bg-on-surface/[0.12] 
	disabled:border-on-surface/[0.12] 
	disabled:text-on-surface/[0.38] 
	disabled:pointer-events-none;
}

.md-icon-button {
  @apply
  w-[42px] h-[42px] flex items-center justify-center
  font-material text-[24px] rounded-full p-2
  hover:bg-surface-variant/[0.08]
  active:bg-surface-variant/[0.18]
	cursor-pointer
	select-none
  text-on-surface-variant icon-unfilled
  disabled:text-on-surface/[0.38] disabled:pointer-events-none;
}

.md-icon-button-filled {
  @apply w-[42px] h-[42px] flex items-center justify-center
  font-material text-[24px] rounded-full p-2
  bg-primary text-on-primary
	select-none
	cursor-pointer
  active:bg-primary/[0.80] active:text-on-primary/[0.95]
  disabled:bg-on-surface/[0.12] disabled:text-on-surface/[0.38] disabled:pointer-events-none;
}

.md-icon-button-tonal {
  @apply
  w-[42px] h-[42px] flex items-center justify-center
  font-material text-[24px] rounded-full p-2
  bg-secondary-container text-on-secondary-container
  hover:bg-secondary-container/80
  active:bg-secondary-container/70
  cursor-pointer
	select-none
  disabled:bg-on-surface/[0.12] disabled:text-on-surface/[0.38];
}

.md-icon-button-elevated {
  @apply w-[42px] h-[42px] flex items-center justify-center
	text-primary text-center text-sm font-medium
	font-material text-[24px] rounded-full p-2  px-6 py-[10px] 
	border-outline 
	[&:not(:disabled)]:elevation-1
	select-none
	cursor-pointer
	disabled:bg-on-surface/[0.12] 
	disabled:border-on-surface/[0.12] 
	disabled:text-on-surface/[0.38] 
	disabled:pointer-events-none 
	hover:bg-primary/[0.08]
	active:bg-primary/[0.12] 
}

.md-icon-button-outlined {
  @apply
  w-[42px] h-[42px] flex items-center justify-center
  font-['Material_Symbols_Outlined'] text-[24px] rounded-[100px] p-2
  border-outline border-solid border-[1px] text-on-secondary-container
  hover:bg-on-surface-variant/[0.08]
  active:bg-on-surface-variant/[0.12]
  pointer-events-none
  cursor-pointer
	select-none
  disabled:border-outline/[0.12] disabled:text-on-surface/[0.12] disabled:cursor-not-allowed
}

.icon-filled {
  font-variation-settings: 'FILL' 1;
}

.icon-unfilled {
  font-variation-settings: 'FILL' 0;
}