.md-fab-small {
	@apply elevation-3 flex h-10 min-w-10 items-center rounded-2xl bg-surface-container-high p-2 font-['Material_Symbols_Outlined'] text-[24px] text-primary hover:elevation-4 focus:elevation-4 before:content-[attr(left-label)] after:content-[attr(right-label)] hover:bg-surface-container-highest focus:bg-surface-container-highest active:bg-surface-container-high;
}

.md-fab-small-primary {
	@apply elevation-3 flex h-10 min-w-10 items-center rounded-2xl bg-primary-container p-2 font-['Material_Symbols_Outlined'] text-[24px] text-on-primary-container hover:elevation-4 focus:elevation-4 before:content-[attr(left-label)] after:content-[attr(right-label)] hover:bg-primary-container/90 focus:bg-primary-container/95 active:bg-primary-container;
}

.md-fab-small-secondary {
	@apply elevation-3 flex h-10 min-w-10 items-center rounded-2xl bg-secondary-container p-2 font-['Material_Symbols_Outlined'] text-[24px] text-on-secondary-container hover:elevation-4 focus:elevation-4 before:content-[attr(left-label)] after:content-[attr(right-label)] hover:bg-secondary-container/90 focus:bg-secondary-container/95 active:bg-secondary-container;
}

.md-fab-small-tertiary {
	@apply elevation-3 flex h-10 min-w-10 items-center rounded-2xl bg-tertiary-container p-2 font-['Material_Symbols_Outlined'] text-[24px] text-on-tertiary-container hover:elevation-4 focus:elevation-4 before:content-[attr(left-label)] after:content-[attr(right-label)] hover:bg-tertiary-container/90 focus:bg-tertiary-container/95 active:bg-tertiary-container;
}

.md-fab {
	@apply elevation-3 flex h-14 min-w-14 items-center rounded-2xl bg-surface-container-high p-4 font-['Material_Symbols_Outlined'] text-[24px] text-primary hover:elevation-4 focus:elevation-4 before:content-[attr(left-label)] after:content-[attr(right-label)] hover:bg-surface-container-highest focus:bg-surface-container-highest active:bg-surface-container-high;
}

.md-fab-primary {
	@apply elevation-3 flex h-14 min-w-14 items-center rounded-2xl bg-primary-container p-4 font-['Material_Symbols_Outlined'] text-[24px] text-on-primary-container hover:elevation-4 focus:elevation-4 before:content-[attr(left-label)] after:content-[attr(right-label)] hover:bg-primary-container/90 focus:bg-primary-container/95 active:bg-primary-container;
}

.md-fab-secondary {
	@apply elevation-3 flex h-14 min-w-14 items-center rounded-2xl bg-secondary-container p-4 font-['Material_Symbols_Outlined'] text-[24px] text-on-secondary-container hover:elevation-4 focus:elevation-4 before:content-[attr(left-label)] after:content-[attr(right-label)] hover:bg-secondary-container/90 focus:bg-secondary-container/95 active:bg-secondary-container;
}

.md-fab-tertiary {
	@apply elevation-3 flex h-14 min-w-14 items-center rounded-2xl bg-tertiary-container p-4 font-['Material_Symbols_Outlined'] text-[24px] text-on-tertiary-container hover:elevation-4 focus:elevation-4 before:content-[attr(left-label)] after:content-[attr(right-label)] hover:bg-tertiary-container/90 focus:bg-tertiary-container/95 active:bg-tertiary-container;
}

.md-fab-large {
	@apply elevation-3 flex h-24 min-w-24 items-center rounded-2xl bg-surface-container-high p-[30px] font-['Material_Symbols_Outlined'] text-[36px] text-primary hover:elevation-4 focus:elevation-4 before:content-[attr(left-label)] after:content-[attr(right-label)] hover:bg-surface-container-highest focus:bg-surface-container-highest active:bg-surface-container-high;
}

.md-fab-large-primary {
	@apply elevation-3 flex h-24 min-w-24 items-center rounded-2xl bg-primary-container p-[30px] font-['Material_Symbols_Outlined'] text-[36px] text-on-primary-container hover:elevation-4 focus:elevation-4 before:content-[attr(left-label)] after:content-[attr(right-label)] hover:bg-primary-container/90 focus:bg-primary-container/95 active:bg-primary-container;
}

.md-fab-large-secondary {
	@apply elevation-3 flex h-24 min-w-24 items-center rounded-2xl bg-secondary-container p-[30px] font-['Material_Symbols_Outlined'] text-[36px] text-on-secondary-container hover:elevation-4 focus:elevation-4 before:content-[attr(left-label)] after:content-[attr(right-label)] hover:bg-secondary-container/90 focus:bg-secondary-container/95 active:bg-secondary-container;
}

.md-fab-large-tertiary {
	@apply elevation-3 flex h-24 min-w-24 items-center rounded-2xl bg-tertiary-container p-[30px] font-['Material_Symbols_Outlined'] text-[36px] text-on-tertiary-container hover:elevation-4 focus:elevation-4 before:content-[attr(left-label)] after:content-[attr(right-label)] hover:bg-tertiary-container/90 focus:bg-tertiary-container/95 active:bg-tertiary-container;
}

.md-fab-small[left-label]::before {
	@apply w-auto pl-1 pr-3 text-sm font-medium not-italic leading-5 tracking-[0.1px];
	font-family: 'Inter';
}

.md-fab-small[right-label]::after {
	@apply pl-3 pr-1 text-sm font-medium not-italic leading-5 tracking-[0.1px];
	font-family: 'Inter';
}

.md-fab-small-primary[left-label]::before {
	@apply pl-1 pr-3 text-sm font-medium not-italic leading-5 tracking-[0.1px];
	::before {
		@apply before:pr-3;
	}
	font-family: 'Inter';
}

.md-fab-small-primary[right-label]::after {
	@apply pl-3 pr-1 text-sm font-medium not-italic leading-5 tracking-[0.1px];
	font-family: 'Inter';
}

.md-fab-small-secondary[left-label]::before {
	@apply pl-1 pr-3 text-sm font-medium not-italic leading-5 tracking-[0.1px];
	font-family: 'Inter';
}

.md-fab-small-secondary[right-label]::after {
	@apply pl-3 pr-1 text-sm font-medium not-italic leading-5 tracking-[0.1px];
	font-family: 'Inter';
}

.md-fab-small-tertiary[left-label]::before {
	@apply pl-1 pr-3 text-sm font-medium not-italic leading-5 tracking-[0.1px];
	font-family: 'Inter';
}

.md-fab-small-tertiary[right-label]::after {
	@apply pl-3 pr-1 text-sm font-medium not-italic leading-5 tracking-[0.1px];
	font-family: 'Inter';
}
