/* WEBKIT */

.md-linear-progress {
  @apply appearance-none h-1 transition-[width];
}

.md-linear-progress {
  appearance: none;
  transition: width 1s;
  @apply h-1;
}

.md-linear-progress:indeterminate {
  background:
  linear-gradient(90deg, rgb(var(--md-sys-color-surface-variant)) 90%, rgb(var(--md-sys-color-primary)) 70%);
	background-size: 200%;
	animation: indeterminate 2s ease-in-out infinite;
}

.md-linear-progress:indeterminate::-webkit-progress-bar {
  display: none;
}

::-webkit-progress-value {
  transition: width 1s;
  @apply bg-primary;
}

::-webkit-progress-bar {
  @apply bg-surface-variant;
}

/* MOZILA */

.md-linear-progress::-moz-progress-bar {
  transition: width 1s;
	@apply bg-primary;
}

.md-linear-progress:indeterminate::-moz-progress-bar {
  background:
  linear-gradient(90deg, rgb(var(--md-sys-color-surface-variant)) 90%, rgb(var(--md-sys-color-primary)) 70%);
	background-size: 200%;
	animation: indeterminate 2s ease-in-out infinite;
}

@keyframes indeterminate {
  0% {
    background-position: -20%;
  }

  50% {
    background-position: -100%;
  }

  100%{
    background-position: -20%;
  }
}

@property --md-sys-progress-circle-value {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

.md-cicle-progress {
  @apply flex justify-center items-center w-12 h-12 rounded-full appearance-none;

  --md-sys-progress-circle-background-color: var(--md-sys-color-background);
  --md-sys-progress-circle-color: var(--md-sys-color-primary);
  --md-sys-progress-circle-track-color: var(--md-sys-color-secondary-container);
  
  background: 
    radial-gradient(closest-side, rgb(var(--md-sys-progress-circle-background-color)) 79%, transparent 80% 100%),
    conic-gradient(rgb(var(--md-sys-progress-circle-color)) calc(var(--md-sys-progress-circle-value) * 1%), rgb(var(--md-sys-progress-circle-track-color)) 0);

  transition: --md-sys-progress-circle-value 1s;
}

.md-cicle-progress-indeterminate {
  @apply flex justify-center items-center w-12 h-12 rounded-full appearance-none;
  
  --md-sys-progress-circle-background-color: var(--md-sys-color-background);
  --md-sys-progress-circle-color: var(--md-sys-color-primary);
  --md-sys-progress-circle-track-color: var(--md-sys-color-secondary-container);

  background: 
    radial-gradient(closest-side, rgb(var(--md-sys-progress-circle-background-color)) 79%, transparent 80% 100%),
    conic-gradient(rgb(var(--md-sys-progress-circle-color)) calc(var(--md-sys-progress-circle-value) * 1%), transparent 0);
  
  animation:spin 4s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(360deg); 
    --md-sys-progress-circle-value: 5;
  }

  30% {
    transform: rotate(-360deg); 
    --md-sys-progress-circle-value: 45;
  }

  60% {
    transform: rotate(360deg); 
    --md-sys-progress-circle-value: 25;
  }

  100% { 
    transform: rotate(-360deg); 
    --md-sys-progress-circle-value: 5;
  }
}